<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Yelp 2.0</a>
    <form class="d-flex">
    <%= link_to "Restaurant overview", restaurants_path, class: "btn btn-primary btn-sm"%>
  </form>
  </div>
</nav>
